# basics
UseTab: Never
IndentWidth: 4
ColumnLimit: 100
BreakBeforeBraces: Allman
SortIncludes: Never

# spaces
SpaceBeforeParens: Custom
SpaceBeforeParensOptions:
  AfterControlStatements: true   # ISSUE: only global for if/while/for/switch but don't want only for if 
  AfterFunctionDefinitionName: false

AllowShortFunctionsOnASingleLine: None

# C++ Constructor settings
BreakConstructorInitializers: AfterColon
PackConstructorInitializers: Never
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4

# templates
SpacesInAngles: Leave  # Don't change